@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

#root {
  /* max-width: 1px; */ /* Commented out */
  width: 100%; /* Added */
  height: 100vh; /* Ensure it takes the full height of the viewport */
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  transition: 1s ease, color 1s ease;
}

.card {
  padding: 2em;
}

.expandableTextArea {
  height: auto !important;
}