@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transition: 1s ease, color 1s ease;
}

.card {
  padding: 2em;
}

.expandableTextArea {
  height: auto !important;
}